@use "themeprovider/themeprovider" as theme;

$content-width: min(30em, 87%);

.title {
  margin-top: 2.5em;

  h1 {
    text-align: center;
    font-weight: 700;
    color: theme.$white-color;
  }
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;

  .form-input {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: $content-width;

    textarea {
      resize: none;
      border: none;
      width: 100%;
      height: 20em;
      font-family: var(--poppins);
      padding: 1.5em;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 20px;
      background: theme.$light-black-color;
      color: theme.$white-color;

      &:focus {
        border: none;
        outline: none;
      }
    }

    button {
      align-self: flex-start;
      padding: 1em;
      border-radius: 40px;
      background: theme.$white-color;
      color: theme.$black-color;
      transition: background 0.3s ease-in-out;
      font-family: var(--poppins);
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background: theme.$white-color-hover;
      }

      &[disabled] {
        background: theme.$gray-color;
        color: theme.$light-black-color;
        cursor: not-allowed;
      }
    }
  }
}

.result-info-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;

  .result-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: $content-width;

    .user-input {
      color: theme.$white-color;
      font-size: 1.2rem;
      font-weight: 500;
      overflow-wrap: break-word;
      width: 100%;
    }

    .word-length {
      color: theme.$white-color;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.8em;
    }

    .predicted-class {
      color: theme.$white-color;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: theme.$light-black-color;
      padding: 1.5em 2em;
      border-radius: 20px;
      margin-bottom: 3em;
      margin-top: 2.5em;

      p:first-of-type,
      p:last-of-type {
        color: theme.$white-color;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
      }

      .image-wrapper {
        width: 7em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
